@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
body{
    width: 100%;
}
nav{
    margin: 20px 150px 0 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav svg{
    background-color: white;
}
nav ul {
    background-color: white;
}
nav li {
    display: inline;
    margin-right: 40px;
}
nav li:hover{
    color: hsl(0, 94%, 66%);
}
nav li button{
    width: 100px;
    height: 40px;
    color: white;
    font-weight:lighter;
    background: hsl(0, 94%, 66%) ;
    border-radius: 5px;
    border: none;
}
nav li button:hover{
    background: white;
    border: 1px solid hsl(0, 94%, 66%);
    color: hsl(0, 94%, 66%);
}

nav img{
    display: none;
}
.container{
    display: flex;
    margin: 60px 0 0 110px;
    justify-content: space-between;
    position: relative;
}
.content::before{
    position: absolute;
    content: '';
    height: 324px;
    width: 490px;
    background-color: hsl(231, 69%, 60%);
    border-bottom-left-radius: 50%;
    right: 0;
    z-index: -1;
    bottom: -20px;
}
.container img {
    margin-right: 40px;
}
.content{
    margin-top: 81px;
}
.content h1 {
    margin-bottom: 29px;
    font-size: 45px;
    width: 450px;
}

.content p {
    color: hsl(229, 8%, 60%);
    word-wrap: normal;
    line-height: 25px;
    width: 470px;
    margin-bottom: 25px
}

.btns button{
    font-size: 18px;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.btns button:hover, .btns button:first-child:hover {
    border: 1px solid hsl(231, 69%, 60%);
    color: hsl(231, 69%, 60%);
    background: white;
}
.btns button:first-child{
    background:  hsl(231, 69%, 60%);
    color: white;
    margin-right: 15px;
}
.features{
    margin: 88px auto;
    width: 737px;
    text-align: center;
    
}
.features p{
    width: 530px;
    margin: 10px auto;
    color: hsl(229, 8%, 60%);
}
.features ul{
    display: flex;
    justify-content: space-around;
    color: hsl(229, 8%, 60%);
}
.features ul li{
    width: 245px;
    padding: 15px;
    list-style: none;
}
.features ul li:hover{
    border-bottom: 2px solid hsl(0, 94%, 66%);;
}
.click{
    display: flex;
    position: relative;
    margin-bottom: 200px;
}
.image1{
    margin-left: 130px;
    margin-right: 110px;
}
.image1::before{
    position: absolute;
    content: '';
    height: 324px;
    width: 590px;
    background-color: hsl(231, 69%, 60%);
    border-bottom-right-radius: 50%;
    left: 0;
    z-index: -1;
    bottom: -20px;
}
.content2{
    margin-top: 88px;
    width: 451px;
}
.content2 p {
    line-height: 25px;
    color: hsl(229, 8%, 60%);
}
.click button,.btn button{
    margin-top: 35px;
    width: 110px;
    height: 50px;
    border: none;
    background: hsl(231, 69%, 60%);
    border-radius: 5px;
    color: white;
}
.download{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 75px;
    text-align: center;
    
}
.download p{
    margin-top: 30px;
    width: 530px;
    color: hsl(229, 8%, 60%);
}
.browser {
    display: flex;
    gap: 30px;
    text-align: center;
    width: fit-content;
    margin: 0 auto
}
.shape{
    width: 270px;
    height: 355px;
    padding: 33px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.shape h3 {
    margin-top: 33px;
    margin-bottom: 20px
}
.shape p{
    padding-bottom: 40px;
    border-bottom: 1px dashed hsl(229, 8%, 60%);
}
.shape button{
    margin: 25px;
    width: 230px;
    height: 50px;
    background: hsl(231, 69%, 60%);
    color: white;
    border-radius: 5px;
    border: none;
}

.questions{
    margin-top: 60px;
    text-align: center;
}
.firefox{
    margin-top: 35px;
}
.opera{
    margin-top: 70px;

}
.questions details{
    margin: 0 auto;
    width: 545px;
    border-bottom: 1px solid hsla(229, 8%, 60%, 0.314);
}
.questions details:first-child{
    border-top: 1px solid hsla(229, 8%, 60%, 0.314);

}
.questions .p, .questions p{
    color: hsl(229, 8%, 60%);
    width: 495px;
    margin: 30px auto;
}
.questions p{
    color: hsl(229, 8%, 60%);
    text-align: left;
}

.questions summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
summary img {
    width: 18px;
    height: 12px;
}
section{
    text-align: center;
    color: white;
    background: hsl(231, 69%, 60%);
    margin-top: 40px;
}
.section p{
    padding: 67px 0 42px 0;
    letter-spacing: 5px;
}

.section h1 {
    margin-bottom: 32px;
}

.input{
    padding-bottom: 72px;
}
.input input, .input button{
    height: 40px;
    border: none;
    border-radius: 5px;

}
.input input{
    width: 290px;
}
.input button{
    width: 112px;
    background: hsl(0, 94%, 66%);
    color: white;  
}
footer, .footer, .footer ul, .footer-container{
    display: flex;
    align-items: center;

}
footer{
    background-color: hsl(229, 31%, 21%);
    color: white;
    justify-content: space-between;
    padding: 30px 160px;
}
.footer{
    align-items: center;
    gap: 60px;
}
li {
    list-style: none;
}
.footer ul{
    gap: 50px;
}
.footer-container{
    gap: 50px;
}
